.error-modal-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .error-modal {
    background: #2a2a2a;
    padding: 20px;
    border-radius: 8px;
    max-width: 300px;
    min-width: 200px;
    width: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .error-modal-content {
    text-align: center;
  }
  
  .error-modal-content h2 {
    margin-top: 0;
    color: #f44336; /* Red color for error */
  }
  
  .error-modal-content p {
    margin: 20px 0;
    color: #ffc107;
  }
  
  /* .error-modal-content button {
    background-color: #4caf50; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
   */
  /* .error-modal-content button:hover {
    background-color: #45a049;
  } */