.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333333;
  touch-action: none;
  width: 100%;
}

.task-group {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.action-group {
  display: flex;
  gap: 20px;
}

.edit-icon {
  color: #4caf50; /* Green color for edit icon */
}

.trash-icon {
  color: #f44336; /* Red color for trash icon */
}

.icon:hover {
  color: #ffeb3b; /* Yellow color on hover */
}

.done {
  text-decoration: line-through;
  color: #616161;
}

[data-no-dnd] {
  pointer-events: auto;
}

.drag-handle {
  cursor: grab;
  user-select: none;
  margin-right: 10px;
}
.drag-handle:active {
  cursor: grabbing;
}

.checkbox {
  display: none;
}

/* Custom checkbox (hình tròn) */
.checkbox-label {
  width: 20px;
  height: 20px;
  border: 2px solid #ffeb3b;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: #2a2a2a;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Khi checkbox được chọn */
.checkbox:checked + .checkbox-label {
  background-color: #4caf50;
  border-color: #4caf50;
}

/* Dấu check mark bên trong khi checkbox được chọn */
.checkbox:checked + .checkbox-label::after {
  content: "\2713"; /* Ký tự Unicode cho dấu check mark */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px; /* Kích thước của dấu check */
  font-weight: bold;
  color: #2a2a2a; /* Màu của dấu check */
}
